*{
    box-sizing: border-box;
  }
  body {
    background-color: #f15a24;
  }
  img { 
  width: 8%;
  margin-right: -4px;
  margin-top: -4px;
  /* grid-template-columns: repeat(12, 1fr) */
  }
  .container {
    /* grid-template-rows: [row1-start] 8% [row1-end row2-start]8% [row2-end]; */
  }